main{
  flex: 1 1 auto;
}
.intro{
  position: relative;
}
.intro span{
  position:absolute;
  top:20px;
  left:10px;
  font-weight: 700;
  font-size: 20px;
  color:fuchsia;
}
.intro span~span{
  top:50px;
  color:black;
  font-size: 18px;
}
.intro span ~ span ~span{
  top:100px;
}

.paragraph{
  font-size: 20px;
}

.details-section2{
  display: grid;
  grid-template-columns: 1fr;
}

.programmes-section{
  font-size:20px;
}

.programmes-section h2{
  color:red;
}
.programmes-section ul li{
  list-style:"✅" ;
}

.programmes-section ul{
  background-image: linear-gradient(to bottom right, rgba(255,0,0,.2), rgba(255,0,0,1));
  border-radius:10px;
}

.details-section3{
  position:relative;
}
.details-section3 div span{
  position:absolute;
  top:20px;
  left:20px;
  font-size: 20px;
  color:darkblue;
}